<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">

    </head>

    <body>
        
        <div class="main-content">
            {{>header}}
        <p1> this site was created ny aditya dubey, it uses data from mapbox.com and darksky.net </p1>

        </div>
        
        <img src="./img/download.jpg">
        <footer>{{>footer}}</footer>
        
    </body>
</html>